<h1>Edit <%= @song.name %></h1>
<p>views/songs/edit.erb</p>
<a href="/"><p>Main Page</p></a>
<hr>
<br>
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<hr>
<br>
<form action="/songs/<%= @song.slug %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="<%= @song.name %>"><br>
  </div>
   <div>
    <label for="artist_name">Artist </label>
    <input type="text" name="artist_name" id="Artist Name" value="<%= @song.artist.name %>">
  </div>
    <label>Genres: </label><br>
    <% Genre.all.each do |genre| %>
        <input 
        type="checkbox" 
        id="<%= genre.name %>" 
        name="genres[]" 
        value="<%= genre.id %>" 
        <%='checked' if @song.genres.include?(genre) %>>
        <%= genre.name %><br/>
    <% end %><br>
    <input type="submit" value="Save">
</form>